@import '~antd/dist/antd.css';

.App {
  text-align: center;
  display: grid;
  background-image: url("images/background.jpg");
  background-size: cover;
  height: 100%;
  grid-template-rows: 150px 1fr;
}